.allForm{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
  .styleForm{
    width: 50%;
    
      label{
        vertical-align: middle;
        display: flex;
        align-items: center;
        padding-left: 2px;
        padding-bottom: 5px;
        font-size: 18px;
        font-weight: bold;
        transition: .3s ease-in-out;
        
        & span{
          padding-left: 6px;
          padding-top: 9px;
        }
        img{
         margin-top: 5px;
        }   
      }

      input{
        z-index: 10;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: none;
        margin-bottom: 10px;
        &:focus{
          outline: none;
          background-color: #fff;
          box-shadow: 0 0 15px #E4AD93; 
          transition: .2s ease-in-out;
        }        
      }    
      #forms {
        display: flex;
        flex-direction: column;
        width:90%;
        
        button{
          align-self: flex-end !important;
          width: 35%;
          margin-top: 5px;
          padding: 5px;
          border-radius: 5px;
          outline: none;
          font-size: 18px;
          font-weight: bold;
          color: #fff;
          cursor: pointer;
          background-color: #C57276;
          vertical-align: middle;
          padding-top: 10px;
          
          img{
            vertical-align: middle;
            padding-left: 5px;
            position: relative;
            animation: imgRight .5s ease-in 0s infinite alternate;            
          }

        }

      }  
    
  }
  .jantar{
    width: 50%;
  }
}

@keyframes imgRight {
  from {left: 0px;}
  to   {left: 20px;}
}



